*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigCircle{
    width: 500px;
    height: 500px;
    background-color: gray;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: rotate;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.smallCircle{
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
}
.bigCircle img{
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 2;
    animation-name: rasmRotate;
    animation-duration: 100s;
    animation-iteration-count: infinite;
}
@keyframes rasmRotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
.bigCircle img:nth-child(1){
    top: -16px;
    left: 75px;
}
.bigCircle img:nth-child(2){
    top: -16px;
    right: 75px;
}
.bigCircle img:nth-child(3){
    
    right: -50px;
}
.bigCircle img:nth-child(4){
    
    left: -50px;
}
.bigCircle img:nth-child(5){
    bottom: -16px;
    left: 75px;
}
.bigCircle img:nth-child(6){
    bottom: -16px;
    right: 75px;
}
.bigCircle:hover {
    animation-play-state: paused;
}
.bigCircle:hover img{
    animation-play-state: paused;

}